body{

	background-color: white;
	margin:0;
font-family: 'Open Sans', sans-serif;
}

#Header{
display: flex;
flex-direction: row;
background-color: white;
text-align: center;
color: #16507B;
position:sticky;
top:0px;
box-shadow: 0 0 5px #aaaaaa;

}
#Header>div{

flex-grow: 1;


}


#home{
	
display:flex;
	justify-content:center;
	flex-direction:column;
}


#Header>div:nth-child(2){


flex-grow: 2;


}
#Header>div:nth-child(2)>ul{

list-style-type:none;
display: flex;
justify-content: space-around;
}
#Header>div:nth-child(2)>ul>li:hover{

color:skyblue;

}
#Header>div:nth-child(1){

align-self: center;
font-size: 30px;

}
#Header>div:nth-child(3)>button{
align-self: center;
background: #2487CE;
border-radius: 8px;
width: 120px;
height: 40px;
color: white;
border-color: #FFFFFF;
}
#Header>div:nth-child(3){

align-self: center;


}

#home>h1{

font-size: 60px;
color: #124265;
font-family: 'Roboto', sans-serif;
text-align: center;
width: 700px;
margin-top: 120px;


}
#home>p{

font-size: 23px;
color: #606060;
text-align: center;

}

#home>button{


background: #2487CE;
border-radius: 8px;
width: 190px;
height: 50px;
color: white;
border-color: #FFFFFF;
font-weight: bold;
font-size: 15px;
}

.button1{

margin-top: 20px;
	margin-left: 590px;
}

.box{
	
	display: flex;
	justify-content: space-around;
	text-align: left;
	padding: 10px 50px;
	color: #124265;
font-size: 30px;
font-weight: bold;
}

.box>div>p{
font-weight: normal;
	color: black;
	font-size: 20px;
}

.box>div:nth-child(1){

	
	width: 600px;
padding-left: 50px;
padding: 50px;
box-shadow: 0 0 10px #aaaaaa;
}

.box>div:nth-child(2){

	
	width: 600px;
padding-left: 50px;
padding: 50px;
box-shadow: 0 0 10px #aaaaaa;
}

.box>div:nth-child(3){


	width: 600px;
padding-left: 50px;
padding: 50px;
box-shadow: 0 0 10px #aaaaaa;
}

.box>div:nth-child(1):hover{

transform: scale(1.1);
transition-duration: 0.8s;
color: skyblue;
}

.box>div:nth-child(2):hover{
transform: scale(1.1);
transition-duration: 1s;
color: skyblue;
}

.box>div:nth-child(3):hover{

transform: scale(1.1);
transition-duration: 1s;

color: skyblue;
 
}

.box>div{

margin: 15px;

}
